.connect-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    .developer-docs {
        font-size: 30px;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 0 20px;
        text-align: center;
    }
}

.web3modal-provider-icon {
    img[alt='Social Media'] {
        width: auto !important;
    }
}
