.sign-tran {
    .result-box {
        height: 120px;
    }
    .form-input {
        input,
        .input {
            margin: 0;
        }
        label {
            margin: 0;
        }

        p {
            margin: 0;
        }
    }
}
