.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px;
}

.btn {
    margin: 20px;
    background-color: #5177f9;
    font-size: 18px;
    color: white;
    height: 50px;
    padding: 0 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
}
