.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.App-header {
  background-color: #ffffff;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 15px;
}

.App-link {
  color: #61dafb;
  margin-top: 50px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.chain-config {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

.native-balance {
  font-size: 20px;
  margin-top: 30px;
}

.selector-container {
  margin-left: 10px;
  margin-right: 10px;
  width: 150px;
  height: 30px;
  font-size: 16px;
}

.body-content {
  background-color: #ffffff;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 15px;
}

.card-zero {
  margin-top: 30px;
  margin-bottom: 20px;
  width: 90%;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
  max-width: 40vw;
  min-width: 500px;
}

.title {
  text-align: left;
  color: #000000;
}

.blue-btn {
  width: 100%;
  font-size: 16px;
  padding: 16px 38px;
  color: #ffffff;
  background-color: #4285f4;
  font-weight: 900;
}

.mgt {
  margin-top: 10px;
}

.content {
  text-align: left;
  font-weight: 18px;
  padding: 15px 38px;
  background-color: #e2e3e5;
  color: #383d41;
  word-wrap: break-word;
}

.token {
  text-align: left;
  padding: 15px 38px;
  font-size: 18px;
  color: #155724;
  background-color: #d4edda;
}

.sign {
  text-align: left;
  padding: 15px 38px;
  font-size: 18px;
  color: #856404;
  background-color: #fff3cd;
  word-wrap: break-word;
}
